---
import Layout from '../layouts/Layout.astro';
---

<Layout title="PKAKP PKN STAN">
	<main class="grid gap-2 place-content-center place-items-center">
		<p class="text-center">Selamat Datang di Situs Kami!</p>
		<p class="text-center text-4xl font-bold">PKAKP PKN STAN</p>
	</main>
</Layout>