---
import Layout from '../layouts/Layout.astro';
---

<Layout title="PKAKP PKN STAN">
	<main>
		<div class="h-[48rem] grid gap-2 place-content-center place-items-center">
			<p>Selamat Datang di Situs Kami!</p>
			<p class="text-6xl font-bold">PKAKP PKN STAN</p>
		</div>
	</main>
</Layout>