---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Profil | PKAKP PKN STAN">
	<main class="grid gap-6 px-4">
        <h2 class="font-semibold text-2xl text-center">PUSAT KAJIAN AKUNTANSI DAN KEUANGAN PUBLIK</h2>
        <div class="grid gap-4">
            <div class="grid gap-2">
                <h3 class="font-semibold text-lg">SELAYANG PANDANG</h3>
                <div class="grid gap-1">
                    <p class="indent-8 text-justify">Pusat Kajian Akuntansi dan Keuangan Publik (PKAKP) merupakan Unit Kegiatan Mahasiswa yang mewadahi aktivitas pengembangan minat dan bakat mahasiswa serta alumni di bidang akuntansi dan keuangan publik.</p>
                    <p class="indent-8 text-justify">PKAKP telah memiliki aktivitas sejak tahun 2007, namun baru didirikan secara resmi pada tahun 2015 dengan motto "Responsif, Kontributif, Solutif".</p>  
                    <p class="indent-8 text-justify">PKAKP bersifat kekeluargaan, profesional dan keilmuan serta berpegang pada nilai integritas, profesionalisme, solidaritas, sinergi, dan kesempurnaan.</p>
                </div>
            </div>
            <div class="grid gap-2">
                <h3 class="font-semibold text-lg">VISI DAN MISI</h3>
                <div class="grid gap-1">
                    <h4 class="font-medium text-base">Visi</h4>
                    <p class="indent-8 text-justify">Menjadi UKM terpercaya dan dinamis dalam melaksanakan penelitian dan pengembangan kapasitas di bidang akuntansi dan keuangan publik.</p>
                    <h4 class="font-medium text-base">Misi</h4>
                    <ul class="list-disc pl-6">
                        <li><p class="text-justify">Merumuskan analisis terkait isu-isu akuntansi dan keuangan publik.</p></li>
                        <li><p class="text-justify">Melaksanakan dan mengembangkan penelitian dan atau kajian di bidang akuntansi dan keuangan publik.</p></li>
                        <li><p class="text-justify">Mewujudkan SDM yang berprestasi di bidang akuntansi dan keuangan publik.</p></li>
                        <li><p class="text-justify">Mewujudkan SDM yang memiliki integritas dan kompetensi tinggi di bidang akuntansi dan keuangan publik dengan didukung teknologi informasi dan komunikasi yang andal serta kinerja perencanaan dan penganggaran yang suportif.</p></li>
                        <li><p class="text-justify">Mewujudkan sistem Teknologi dan lnformasi yang andal dan maju.</p></li>
                        <li><p class="text-justify">Merumuskan dan melaksanakan pengembangan organisasi secara responsif dan saksama.</p></li>
                    </ul>
                </div>
            </div>
        </div>
	</main>
</Layout>